@import url("https://fonts.cdnfonts.com/css/museo-sans-rounded%27");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'museo sans rounded', sans-serif;
}

header {
  top: 0;
  position: sticky;
  background-color: white;
  z-index: 99999 !important;
}

main{
    width: 100%;
    height: 100vh;
    padding-top: 10px;
}
.characters{
    border-top: 1px solid;
    border-bottom: 1px solid;
}
.card{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}
.cardCharacters{
    margin: 5px;
    border-radius: 3px;
    width: 15%;
}
.cardCharacters img{
    width: 100%;
    border-top: 0px solid black;
    border-radius: 3px;
}
.characters h3{
    padding-left: 19%;
    padding-bottom: 5px;
}


.navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-top-left {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo {
  background-color: #E60012;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 105px;
}

.logo > img {
  width: 69px;
}

.search {
  display: flex;
  padding: 0.5rem;
  border-bottom: 2px solid black;
}

svg {
  width: 1rem;
}

.search input, .search select, .search > svg, .link {
  border: none;
  margin: 0 1rem;
}

.search:hover{
  border-color: red;
  transition: 0.5s;
}

.search input:hover, .search input:hover::placeholder, .search select:hover, .search select:hover::placeholder, .search > svg:hover, .search > svg:hover::placeholder, .link:hover, .link:hover::placeholder {
  color: red;
  transition: 0.5s;
  fill: red;
}

.navbar-top-right {
  display: flex;
  gap: 0.5rem;
  margin-right: 1rem;
  align-items: center;
  font-size: small;
}

.navbar-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
  font-size: small;
  border-bottom: 1px solid rgb(201, 201, 201);
  border-top: 1px solid rgb(201, 201, 201);
}

.link > a {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

a {
  text-decoration: none;
  color: black;
}

.link > a:hover {
  color: red;
  transition: 0.5s;
  fill: red;
}
.brandbar .logo_social {
  background-color: rgb(230, 0, 18);
  display: grid;
  align-items: center;
  grid-template-columns: auto repeat(4, 58px);
  flex-grow: 1;
  width: 100%;
  padding: 20px;
  gap: 20px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1rem;
  row-gap: 4rem;
  justify-content: center;
  margin: 1rem;
  padding: 2rem;
}
.grid  ul {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

ul > li {
  list-style: none;
}

.jumbotron-top {
  background-image: linear-gradient(rgb(78, 211, 255), white);
  padding: 2rem 2rem;
  display: flex;
  justify-content: center;
}

.image-kirby {
  border-radius: 5px;
  width: 100%;
}

.jumbotron-bottom{
  padding: 3rem;
  display: flex;
  justify-content: space-between;
}

.jumbotron-bottom-left {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.button {
  background-color: #E60012;
  padding: 1rem;
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: 700;
}

.button:hover {
  background-color: #AC000D;
  transition: 0.4s;
  color: white;
  transform: scale(1.1,1.1) !important;
}

.jumbotron-bottom-right{
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.jumbotron-bottom-right > .svgg {
  height: 62px;
  width: 40px;
  border: 3px solid black;
  font-size: xx-large;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  font-size: x-small;
  font-weight: 300;
}

.online-system{
  width: 85%;
  margin: auto;
  margin-bottom: 2rem;
}

.gaming-systems {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.news {
  margin-bottom: 3rem;
}

.gaming-systems > h2, .news > h2  {
  margin: 2rem 0;
}

.gaming-systems-image{
  width: 100%;
}

.bottom-image-gaming-systems{
  display: flex;
  align-items: center;
  margin: 2rem 0;
}

.bottom-image-gaming-systems > h3 {
  padding-right: 2rem;
}

.card-link {
  padding-bottom: 3rem;
}

.big-card{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.weight-100 {
  font-weight: 100;
}

.big-cards, .small-cards {
  display: flex;
  gap: 2rem;  
}

.small-card-image, .big-card-image{
  border-radius: 5px;
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}


.read-more, .small-read-more{
  text-decoration: underline;
  text-underline-offset: 0.3rem;
  color: red;
}

.big-card-date, .small-card-date {
  font-weight: lighter;
  font-size: small;
}

.big-card-date {
  padding-top: 1rem;
}

.big-card:hover > .card-link > .big-card-image, .small-card:hover > .small-card-image {
  filter: brightness(0.5);
  transition: all 0.2s ease-in-out;
}

.card-link:hover > .text > .bolder, .small-card:hover > .text > .small-bolder{
  color: red;
  transition: all 0.2s ease-in-out;
}

.card-link:hover > .text > .read-more, .small-card:hover > .text > .small-read-more{
  color: darkred;
  transition: all 0.2s ease-in-out;
}

ul > li > a {
  color: rgb(230, 0, 18);
}
ul > li > a:hover {
  text-decoration: underline rgb(230, 0, 18);
  transition: 0.5s;
}
h4 > a {
  color: rgb(72, 72, 72);
}
h4 > a:hover {
  color: rgb(72, 72, 72);
  text-decoration: underline rgb(72, 72, 72);
  transition: 0.5s;
}
.aboutNintendo, .shop, .orders, .support, .parent, .community, .privacy {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding-left: 1rem;
  border-left: 1px solid rgb(218, 218, 218);
}
.certificate {
  display: grid;
  justify-content: end;
  padding-right: 1rem;
  padding-bottom: 4rem;
}
.copyright_terms {
  display: grid;
  grid-template-columns: 2fr auto auto auto;
  column-gap: 1rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgb(36, 36, 36);
  padding: 2rem;
}
.copyright {
  color: white;
  font-size: 10px;
}
.terms {
  display: inline-flex;
  gap: 15px;
}
.terms > a {
  color: white;
  font-size: 12px;
}
.terms > a:hover {
  border-bottom: 2px solid white;
}
.copyright_terms > a {
  color: white;
  font-size: 12px;
}
.copyright_terms > a:hover {
  border-bottom: 2px solid white;
}
/*# sourceMappingURL=style.css.map */
