*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Serif", serif;
}
main{
    width: 100%;
    height: 100vh;
    padding-top: 10px;
}
.characters{
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}
.card{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}
.cardCharacters{
    margin: 5px;
    border-radius: 3px;
    width: 15%;
}
.imageCharacters{
    overflow: hidden;
}
.imageCharacters:hover img{
    transform: scale(1.1);
    transition: 0.3s;
    
}
.cardCharacters h4{
    font-size: 21px;
    font-family: sans-serif;
}
.cardCharacters img{
    width: 100%;
    border-top: 0px solid black;
    border-radius: 3px;
    
}
.characters h3{
    font-size: 28px;
    padding-left: 19%;
    padding-top: 55px;
    padding-bottom: 15px;
    font-family: sans-serif;
}

.digitalBestSellers{
    margin-top: 50px;
    
}
.name{
    display: flex;
}
.name h3{
    font-family: sans-serif;
    font-size: 28px;
    padding-left: 19%;
    padding-bottom: 5px;
    padding-right: 10px;
    border-right: 1px solid grey;
}
.name a{
    padding-left: 15px;
    color: #b10211;
    font-family: sans-serif;
    font-size: 16px ;
    padding-top: 10px;
    font-weight: bold;
}
.digitalCard{
    width: 17%;
    height: 300px;
    margin-top: 3%;
    margin-right: 25px;
    border-right: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    border-radius: 3px 3px 3px 3px;
}
.digitalCard img{
    width: 100%;
    height: 40%;
    border-top: 1px solid ;
    border-radius: 3px 3px 0px 0px;
    object-fit: cover;
}
.centerCard{
    height: 56%;
    padding-left: 15px;
    padding-top: 8px;
}
.centerCard h5{
    font-family: sans-serif;
    font-size: 15px;
    color: rgb(26, 26, 26);
    padding-bottom: 7px;
}
.date{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.815);
    font-family: sans-serif;
}
.price{
    padding-top: 20px;
    font-size: 15px;
    font-weight: bold;
    font-family: sans-serif;
}
.footerCard{
    display: flex;
    justify-content: space-between;
}
.console{
    font-family: sans-serif;
    font-size: 10px;
    color: rgba(0, 0, 0, 0.815);
    margin-top: 11px;
    border-left: 2px solid #b10211;
    padding-left: 5px;
}
.footerCard i{
    margin-top: 15px;
    margin-right: 10px;
    color: #b10211;
    font-size: 20px;
}
.allDigitalCards{
    display: flex;
    margin-left: 21%;
}
.digitalNewReleases{
    margin-top: 50px;
    margin-bottom: 20px;
}
.new{
    border: 1px solid red;
    background-color: red;
    color: white;
    font-family: sans-serif;
    font-size: 13px;
    width: 18%;
    text-align: center;
    border-radius: 4px;
    margin-top:20px ;
    
}
.digitalCard:hover h5 {
    color: red;
  }
  .digitalCard:hover img{
    transform: translateY(-15px);
    transition: 0.3s;
  }